/* header-dropdown-menú */

header {
    padding: 1rem;

    .dropdown-button {
        position: relative;
        margin-left: 4rem;
        display: inline-block;
        color: white;
        padding: 1rem;
        font-size: 1.5rem;
        border: none;
        cursor: pointer;

        &:hover .dropdown-nav {
            display: block;
        }

        .dropdown-icon {
            max-width: 2rem;
            position: relative;
        }

        .dropdown-nav{
            display: none;
            position: absolute;
            background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            min-width: 160px;
            padding: 12px 16px;
            backdrop-filter: blur( 10.5px );
            -webkit-backdrop-filter: blur( 1.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            z-index: 1;
        }

        .dropdown-content {
            @include dropdown-content;
        }

        .dropdown-inicio {
            @include dropdown-content;
            @include dropdown-inicio;
                        
            &:hover{
                @include hover;
            }
        }

        .dropdown-articulos{
            @include dropdown-inicio;

            &:hover{
                @include hover;
            }
        }

        .dropdown-tienda{
            @include dropdown-inicio;

            &:hover{
                @include hover;
            }
        }

        .dropdown-servicios{
            @include dropdown-inicio;

            &:hover{
                @include hover;
            }
        }

        .dropdown-contacto{
            @include dropdown-inicio;

            &:hover{
                @include hover;
            }
        }
    }

    .index-header-main {
        display: flex;
        justify-content: space-between;
        padding: 2rem 5rem 2rem 5rem;

        .name-pyme {
            @include name-pyme;
            border-top: solid 1px black;
            @include logo;
        }

        .name-pyme-2 {
            @include name-pyme;
            padding-top: 10rem;
            border-bottom: solid 1px black;
            @include logo;
        }

        .logo {
            @include logo;
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-left: 5%;
        margin-right: 10%;
        position: relative;
    
        a:hover {
            border-bottom: 1px black solid;
        }

    }
        
}

// @keyframes color {
//     0% {opacity: 0%;}
//     100% {opacity: 100%;}
// }

// @media only screen and (max-width: 320px) {
//     .index-nav {
//         display: block;
//     }
// }