.nav-form {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-right: 3%;
    background-color: white;

    .nav-emails {
        @include nav-emails;

        .nav-advice {
            margin-bottom: map-get($nav-emails, margin-bottom);

            h2 {
                font-weight: map-get($nav-emails, font-weight);
            }
        }
        .nav-adoption {
            margin-bottom: map-get($nav-emails, font-weight);

            h2 {
                font-weight: map-get($nav-emails, font-weight);
            }
        }

        .nav-store {
            margin-bottom: map-get($nav-emails, margin-bottom);

            h2 {
                font-weight: map-get($nav-emails, font-weight);
            }
        }
    }

    .form {
        @include nav-emails;
        padding-right: 3%;
        background-color: white;

        .form-title {
            margin-bottom: map-get($nav-emails, margin-bottom);
        }

        .form-name {
            @include form-name;
        }

        .form-email {
            @include form-name;
            margin-bottom: 3rem;
        }

        .form-text {
            width: 23rem;
            height: 14rem;
            padding: 1rem;
            border-radius: 1rem;
            outline: none;
        }

        .button-submit {
            @include button-submit;
        }        
    }
}
